@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
body {
    align-items: center;
    background-color: hsl(185, 41%, 84%);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}
input[type="radio"] {
    display: none;
}

.alert-sec {
    display: flex;
    justify-content: space-between;
}
.amount {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.container {
    background-color: white;
    border-radius: 25px;
    padding: 30px;
}
.input {
    background-color: hsl(189, 41%, 97%);
    border: 2px solid white;
    border-radius: 5px;
    color: hsl(183, 100%, 15%);
    cursor: pointer;
    font-size: 24px;
    inline-size: 100%;
    padding: 5px 15px;
    text-align: right;
    transition: 0.5s;
    outline: none;
    -webkit-transition: 0.5s;
}
.input:focus {
    border: 2px solid hsl(172, 67%, 45%);
}
.input-sign {
    position: absolute;
    text-align: center;
    padding: 17px;
}
.logo {
    margin-bottom: 3rem;
}
.rate-btn {
    align-items: center;
    background-color: hsl(183, 100%, 15%);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: flex;
    height: 50px;
    justify-content: center;
    padding: 10px 0;
    text-align: right;
    width: 100%;
}
.rate-btn:hover{
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}
.reject {
    border: 2px solid orange !important;
}
.reset {
    background-color: hsl(186, 14%, 43%);
    border: 0;
    border-radius: 5px;
    color: hsl(183, 100%, 15%);
    cursor: pointer;
    font-size: 24px;
    padding: 7px;
    width: 100%;
}
.reset:hover {
    background-color: hsl(172, 67%, 45%);
}
.result {
    background-color: hsl(183, 100%, 15%);
    border-radius: 10px;
    margin-top: 30px;
    padding: 30px 25px;
}
.selected {
    background-color: hsl(172, 67%, 45%);
}
.small {
    color: hsl(184, 14%, 56%);
}
.tip-rates {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr;
}
.tip-select {
    margin: 50px 0;
}
.title {
    color: hsl(184, 14%, 56%);
    margin-bottom: 10px;
}
.total {
    color: hsl(172, 67%, 45%);
    font-size: 24px;
}
.white {
    color: white;
    margin-bottom: 0;
}
#alert-p {
    color: orange;
}

#tip-input {
    background-color: hsl(189, 41%, 97%);
    border: 2px solid white;
    color: hsl(183, 100%, 15%);
    font-size: 24px;
}
#tip-input:focus {
    border: 2px solid hsl(172, 67%, 45%);
    transition: 0.5s;
    outline: none;
    -webkit-transition: 0.5s;   
}
@media (min-width:720px){
    .card {
        max-width: 500px;
    }
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px
    }
    .result {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    .tip-rates {
        grid-template-columns: 1fr 1fr 1fr;
    }
}